{% extends "shared/base.html" %}

{% block title %} 
  <title>ZERO WASTE</title>
{% endblock %} 

{% block content %}
  <div class="container" , style="color:white;text-align:center;font-size:48px;">
    <h1 class="display-4"> 👋 Welcome to Zero Waste API! 🚀 </h1>
    <p style="font-size:48px">
        &#128525; &#x1F5D1; &#x1F6AE;
        Please visit <a href="http://api.zerowastebin.com.ng/docs" style="font-size:48px">/docs</a>
        to see the documentation 📚 and test the endpoints.
    </p>
  </div>
{% endblock %} 